<a href="https://colab.research.google.com/github/javmohir/python_darslari/blob/main/birinchi_np.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import pandas as pd
import numpy as np

In [33]:
!git clone https://github.com/anvarnarz/praktikum_datasets

fatal: destination path 'praktikum_datasets' already exists and is not an empty directory.

In [ ]:
df=pd.read_csv("sample_data/california_housing_test.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
pd.read_excel("praktikum_datasets/uzbekistan.xlsx" ,index_col=0, names=['hudud','maydoni','aholi'])

                               maydoni    aholi
hudud
Andijon viloyati                  4200  1899000
Buxoro viloyati                  39400  1384700
Fargʻona viloyati                 6800  2597000
Jizzax viloyati                  20500   910500
Xorazm viloyati                   6300  1200000
Namangan viloyati                 7900  1862000
Navoiy viloyati                 110800   767500
Qashqadaryo viloyati             28400  2029000
Qoraqalpogʻiston Respublikasi   160000  1200000
Samarqand viloyati               16400  2322000
Sirdaryo viloyati                 5100   648100
Surxondaryo viloyati             20800  1676000
Toshkent viloyati                15300  4450000

In [ ]:
df5=pd.read_csv("praktikum_datasets/automobile_data.csv",index_col='index', nrows=10)

In [ ]:
df1=pd.read_excel("praktikum_datasets/uzbekistan.xlsx" ,index_col=0, names=['hudud','maydoni','aholi'])
df1

                               maydoni    aholi
hudud
Andijon viloyati                  4200  1899000
Buxoro viloyati                  39400  1384700
Fargʻona viloyati                 6800  2597000
Jizzax viloyati                  20500   910500
Xorazm viloyati                   6300  1200000
Namangan viloyati                 7900  1862000
Navoiy viloyati                 110800   767500
Qashqadaryo viloyati             28400  2029000
Qoraqalpogʻiston Respublikasi   160000  1200000
Samarqand viloyati               16400  2322000
Sirdaryo viloyati                 5100   648100
Surxondaryo viloyati             20800  1676000
Toshkent viloyati                15300  4450000

In [ ]:
df1.to_csv("newuzb_csv")

In [ ]:
obj=df1.maydoni
obj

hudud
Andijon viloyati                   4200
Buxoro viloyati                   39400
Fargʻona viloyati                  6800
Jizzax viloyati                   20500
Xorazm viloyati                    6300
Namangan viloyati                  7900
Navoiy viloyati                  110800
Qashqadaryo viloyati              28400
Qoraqalpogʻiston Respublikasi    160000
Samarqand viloyati                16400
Sirdaryo viloyati                  5100
Surxondaryo viloyati              20800
Toshkent viloyati                 15300
Name: maydoni, dtype: int64

In [ ]:
obj.to_csv("uzb_maydoni.csv")

In [ ]:
pd.read_csv("newuzb_csv")

                            hudud  maydoni    aholi
0                Andijon viloyati     4200  1899000
1                 Buxoro viloyati    39400  1384700
2               Fargʻona viloyati     6800  2597000
3                 Jizzax viloyati    20500   910500
4                 Xorazm viloyati     6300  1200000
5               Namangan viloyati     7900  1862000
6                 Navoiy viloyati   110800   767500
7            Qashqadaryo viloyati    28400  2029000
8   Qoraqalpogʻiston Respublikasi   160000  1200000
9              Samarqand viloyati    16400  2322000
10              Sirdaryo viloyati     5100   648100
11           Surxondaryo viloyati    20800  1676000
12              Toshkent viloyati    15300  4450000

In [ ]:
from inspect import Traceback
pd.read_csv("uzb_maydoni.csv",index_col=0,squeeze=True)

hudud
Andijon viloyati                   4200
Buxoro viloyati                   39400
Fargʻona viloyati                  6800
Jizzax viloyati                   20500
Xorazm viloyati                    6300
Namangan viloyati                  7900
Navoiy viloyati                  110800
Qashqadaryo viloyati              28400
Qoraqalpogʻiston Respublikasi    160000
Samarqand viloyati                16400
Sirdaryo viloyati                  5100
Surxondaryo viloyati              20800
Toshkent viloyati                 15300
Name: maydoni, dtype: int64

In [ ]:
df2=pd.read_csv("praktikum_datasets/automobile_data.csv",index_col='index')
df2.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [ ]:
df2.to_excel("sample_data/yandiauto.xlsx", index=False, columns=['company','body-style','price'])

In [ ]:
pd.read_excel("sample_data/yandiauto.xlsx", index_col='company')

              body-style    price
company
alfa-romero  convertible  13495.0
alfa-romero  convertible  16500.0
alfa-romero    hatchback  16500.0
audi               sedan  13950.0
audi               sedan  17450.0
...                  ...      ...
volkswagen         sedan   7975.0
volkswagen         sedan   7995.0
volkswagen         sedan   9995.0
volvo              sedan  12940.0
volvo              wagon  13415.0

[61 rows x 2 columns]

In [ ]:
hdfobj=pd.HDFStore("data.h5")

In [ ]:
hdfobj.put("uzdata",df1)

In [ ]:
hdfobj.put("cardata",df5)

In [ ]:
hdfobj.keys()

['/cardata', '/uzdata']

In [ ]:
hdfobj['uzdata']

                               maydoni    aholi
hudud
Andijon viloyati                  4200  1899000
Buxoro viloyati                  39400  1384700
Fargʻona viloyati                 6800  2597000
Jizzax viloyati                  20500   910500
Xorazm viloyati                   6300  1200000
Namangan viloyati                 7900  1862000
Navoiy viloyati                 110800   767500
Qashqadaryo viloyati             28400  2029000
Qoraqalpogʻiston Respublikasi   160000  1200000
Samarqand viloyati               16400  2322000
Sirdaryo viloyati                 5100   648100
Surxondaryo viloyati             20800  1676000
Toshkent viloyati                15300  4450000

In [ ]:
hdfobj['cardata']

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970

In [ ]:
hdfobj.close()

In [ ]:
hdfobj=pd.HDFStore("data.h5")

In [ ]:
hdfobj.keys()

['/cardata', '/uzdata']

In [ ]:
hdfobj['uzdata']

                               maydoni    aholi
hudud
Andijon viloyati                  4200  1899000
Buxoro viloyati                  39400  1384700
Fargʻona viloyati                 6800  2597000
Jizzax viloyati                  20500   910500
Xorazm viloyati                   6300  1200000
Namangan viloyati                 7900  1862000
Navoiy viloyati                 110800   767500
Qashqadaryo viloyati             28400  2029000
Qoraqalpogʻiston Respublikasi   160000  1200000
Samarqand viloyati               16400  2322000
Sirdaryo viloyati                 5100   648100
Surxondaryo viloyati             20800  1676000
Toshkent viloyati                15300  4450000

In [ ]:
hdfobj.close()

In [ ]:
data=pd.read_hdf("data.h5",key="uzdata")

In [34]:
data.to_hdf("data.h5",key="uzdata")

In [39]:
hdfobj=pd.HDFStore("data.h5")