<a href="https://colab.research.google.com/github/javmohir/python_darslari/blob/main/cut_qcut.method" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
import numpy as np

In [47]:
df1 = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv', index_col='country')
df1.head()

         rank     density   densityMi    pop2021   area
country
Macau       1  21946.4667  56841.3487    658.394     30
Monaco      2  19755.5000  51166.7450     39.511      2
Burundi    28    440.3044   1140.3884  12255.433  27834
Macau       1  21946.4667  56841.3487    658.394     30
Monaco      2  19755.5000  51166.7450     39.511      2

In [ ]:
df2 = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/world_population_duplicates.csv',
                  usecols=['country','pop2021','area'], index_col='country')
df1.head()

           pop2021   area
country
Macau      658.394     30
Monaco      39.511      2
Burundi  12255.433  27834
Macau      658.394     30
Monaco      39.511      2

In [ ]:
df2.loc['Uzbekistan']

pop2021     33935.763
area       447400.000
Name: Uzbekistan, dtype: float64

In [ ]:
df2.loc['India']

pop2021    1393409.038
area       3287590.000
Name: India, dtype: float64

Ahamiyat bering, aholi soni minglarda berilgan, bu degani aniq qiymatni topish uchun ko'rsatilgan qiymatni 1000 ga ko'paytirasiz. Ya'ni, O'zbekiston aholisi 33935 ko'rsatilgan, demak aholi soni 33935x1000=33milloin 935ming

Keling, quyidagi oraliqlarda nechtadan davlat borligini tahlil qilamiz:

1 milliongacha (0-1000)
1-10mln oraqlida (1000-10000)
10-30mln oraliqda (10000-30000)
30-50mln oraliqda (30000-50000)
50-100mln (50000-10000)
100-300mln (100000-300000)
300mln-1.5mlrd (300000-1500000)
Buning uchun quydagi bin (nuqtalarni) yaratib olamiz:

In [ ]:
bins = [0, 1000, 10000, 30000, 50000, 100000, 300000, 1500000]

In [ ]:
population=df2.pop2021

In [ ]:
population

country
Macau                 658.394
Monaco                 39.511
Burundi             12255.433
Macau                 658.394
Monaco                 39.511
                      ...
Namibia              2587.344
Western Sahara        611.875
Mongolia             3329.289
Falkland Islands        3.533
Greenland              56.877
Name: pop2021, Length: 247, dtype: float64

In [ ]:
guruh=pd.cut(population, bins)
guruh

country
Macau                    (0, 1000]
Monaco                   (0, 1000]
Burundi             (10000, 30000]
Macau                    (0, 1000]
Monaco                   (0, 1000]
                         ...
Namibia              (1000, 10000]
Western Sahara           (0, 1000]
Mongolia             (1000, 10000]
Falkland Islands         (0, 1000]
Greenland                (0, 1000]
Name: pop2021, Length: 247, dtype: category
Categories (7, interval[int64, right]): [(0, 1000] < (1000, 10000] < (10000, 30000] <
                                         (30000, 50000] < (50000, 100000] < (100000, 300000] <
                                         (300000, 1500000]]

In [ ]:
df2['guruh']=guruh
df2

                    pop2021     area           guruh
country
Macau               658.394       30       (0, 1000]
Monaco               39.511        2       (0, 1000]
Burundi           12255.433    27834  (10000, 30000]
Macau               658.394       30       (0, 1000]
Monaco               39.511        2       (0, 1000]
...                     ...      ...             ...
Namibia            2587.344   825615   (1000, 10000]
Western Sahara      611.875   266000       (0, 1000]
Mongolia           3329.289  1564110   (1000, 10000]
Falkland Islands      3.533    12173       (0, 1000]
Greenland            56.877  2166086       (0, 1000]

[247 rows x 3 columns]

In [ ]:
guruh.value_counts()

(0, 1000]            80
(1000, 10000]        73
(10000, 30000]       46
(30000, 50000]       19
(50000, 100000]      15
(100000, 300000]     11
(300000, 1500000]     3
Name: pop2021, dtype: int64

In [ ]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/automobile_data.csv", index_col=0)
df.head()

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0

In [ ]:
df.price.describe()

count       58.000000
mean     15387.000000
std      11320.259841
min       5151.000000
25%       6808.500000
50%      11095.000000
75%      18120.500000
max      45400.000000
Name: price, dtype: float64

In [ ]:
bins=[0, 10000, 20000, 50000]

In [ ]:
range=pd.cut(df.price, bins)
range

index
0     (10000, 20000]
1     (10000, 20000]
2     (10000, 20000]
3     (10000, 20000]
4     (10000, 20000]
           ...
81        (0, 10000]
82        (0, 10000]
86        (0, 10000]
87    (10000, 20000]
88    (10000, 20000]
Name: price, Length: 61, dtype: category
Categories (3, interval[int64, right]): [(0, 10000] < (10000, 20000] < (20000, 50000]]

In [ ]:
range.value_counts()

(0, 10000]        28
(10000, 20000]    17
(20000, 50000]    13
Name: price, dtype: int64

In [ ]:
names=['past', 'o\'rta', 'yuqori']
range=pd.cut(df.price, bins, labels=names)
range.value_counts()

past      28
o'rta     17
yuqori    13
Name: price, dtype: int64

In [ ]:
df['oraliq']=range
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,names,orliq,oraliq
index,,,,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,o'rta,o'rta,o'rta
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,o'rta,o'rta,o'rta
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0,o'rta,o'rta,o'rta
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,o'rta,o'rta,o'rta
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,o'rta,o'rta,o'rta
...,...,...,...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,past,past,past
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,past,past,past
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,past,past,past
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,o'rta,o'rta,o'rta
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,o'rta,o'rta,o'rta

In [ ]:
ajr=pd.cut(df.price, 5)
ajr.value_counts()

(5110.751, 13200.8]    32
(13200.8, 21250.6]     14
(29300.4, 37350.2]      7
(37350.2, 45400.0]      3
(21250.6, 29300.4]      2
Name: price, dtype: int64

In [ ]:
ajr=pd.qcut(df.horsepower, 3)
ajr.value_counts()

(47.999, 70.0]    24
(111.0, 288.0]    20
(70.0, 111.0]     17
Name: horsepower, dtype: int64

In [48]:
ajr=pd.qcut(df.price, 3)
ajr.value_counts()

(5150.999, 7295.0]    20
(7295.0, 16430.0]     19
(16430.0, 45400.0]    19
Name: price, dtype: int64