<a href="https://colab.research.google.com/github/javmohir/python_darslari/blob/main/gas_wells_np.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import sqlite3 as sql

In [11]:
data={
    'quduq t/r':[154,157,158,169,312,309,383,358,363,367,4,170,171,172,173,185,313,366,370,
                 13,52,120,122,219,275,315,324,125,128,129,130,132,136,278,305,314,320,323,
                137,139,140,141,283,387,3,160,151,284,282,311,325,333,
                 2,53,55,57,1,304,316,326,331,380,381,386,388,167,174,175,182,183,184,103,374,
                 382,345,],
    'q/q bosimi':[12,13,13,14,14,13,14,13.5,14.7,14.1,13,13,14,14,14,13,14,14.3,14.3,
                  10,10,10,10,10,11,11,11,12,13,14,12,13,11,11,11,15,17,13,
                10,13,11,12,14,14,12,12,13,15,15,15,14,14,
                11,11,12,14,12,13,11,14,13,13,14,12,13,13,12,11,12,12,14,14,14,
                14,14,],
    'kunlik sarf':[149,119,90,44,129,49,105,99,71,108,119,149,166,94,150,91,77,89,85,
                   127,13,104,129,134,91,114,77,159,147,147,129,141,115,44,124,122,107,108,
                   105,124,121,129,130,62,48,158,101,129,140,107,109,108,
                   123,130,123,134,127,67,73,97,24,79,87,77,67,151,154,89,159,139,131,128,67,
                   75,75,],
    'soatlik sarf':[6.2,5,3.8,1.8,5.4,2,4.4,4.1,3,4.5,5,6.2,6.9,3.9,6.3,3.8,3.2,3.7,3.5,
                    5.3,0.5,4.3,5.4,5.6,3.8,4.8,3.2,6.6,6.1,6.1,5.4,5.9,4.8,1.8,5.2,5.1,4.5,4.5,
                    4.4,5.2,5.0,5.4,5.4,2.6,2.0,6.6,4.2,5.4,5.8,4.5,4.5,4.5,
                    5.1,5.4,5.1,5.6,5.3,2.8,3.0,4.0,1.0,3.3,3.6,3.2,2.8,6.3,6.4,3.7,6.6,5.8,5.3,5.3,2.8,
                    3.1,3.0,],
    'quvur uzunligi':[528,597,738,845,376,501,1764,1370,1993,2210,760,1190,943,643,1258,1221,441,470,857,
                      2524,1279,1215,632,900,900,1578,1450,2100,2151,1978,1314,1092,1308,473,610,521,815,870,
                      948,1049,603,1060,252,1635,1250,427,810,190,610,491,1460,1452,
                      3153,2310,2560,2180,300,2506,2115,1168,1215,769,1406,1828,1300,1165,685,960,292,840,1576,337,450,
                      1540,665,]
}
obj2=pd.DataFrame(data)
obj2.sample()

    quduq t/r  q/q bosimi  kunlik sarf  soatlik sarf  quvur uzunligi
27        125        12.0          159           6.6            2100

In [12]:
obj2

    quduq t/r  q/q bosimi  kunlik sarf  soatlik sarf  quvur uzunligi
0         154        12.0          149           6.2             528
1         157        13.0          119           5.0             597
2         158        13.0           90           3.8             738
3         169        14.0           44           1.8             845
4         312        14.0          129           5.4             376
..        ...         ...          ...           ...             ...
70        184        14.0          131           5.3            1576
71        103        14.0          128           5.3             337
72        374        14.0           67           2.8             450
73        382        14.0           75           3.1            1540
74        345        14.0           75           3.0             665

[75 rows x 5 columns]

In [13]:
obj2.corr()

,quduq t/r,q/q bosimi,kunlik sarf,soatlik sarf,quvur uzunligi
quduq t/r,1.000000,0.460481,-0.396789,-0.396091,-0.142665
q/q bosimi,0.460481,1.000000,-0.005105,-0.005402,-0.178276
kunlik sarf,-0.396789,-0.005105,1.000000,0.999699,-0.024907
soatlik sarf,-0.396091,-0.005402,0.999699,1.000000,-0.027147
quvur uzunligi,-0.142665,-0.178276,-0.024907,-0.027147,1.000000

In [14]:
obj2.describe()

        quduq t/r  q/q bosimi  kunlik sarf  soatlik sarf  quvur uzunligi
count   75.000000   75.000000    75.000000     75.000000       75.000000
mean   223.186667   12.812000   107.493333      4.474667     1146.293333
std    116.138163    1.502607    33.725992      1.410491      653.436669
min      1.000000   10.000000    13.000000      0.500000      190.000000
25%    138.000000   12.000000    86.000000      3.550000      621.000000
50%    184.000000   13.000000   109.000000      4.500000     1049.000000
75%    323.500000   14.000000   129.500000      5.400000     1456.000000
max    388.000000   17.000000   166.000000      6.900000     3153.000000