<a href="https://colab.research.google.com/github/javmohir/python_darslari/blob/main/scratchpad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [9]:
from pandas import DataFrame

In [4]:
s1=pd.Series([7.3, -2.5, 3.4, 1.5], index=['a', 'c', 'd', 'e'])
s2=pd.Series([-2.1, 3.6, -1.5, 4, 3.1], index=['a', 'c', 'e', 'f', 'g'])

In [5]:
s1

a    7.3
c   -2.5
d    3.4
e    1.5
dtype: float64

In [6]:
s2

a   -2.1
c    3.6
e   -1.5
f    4.0
g    3.1
dtype: float64

In [7]:
s1+s2

a    5.2
c    1.1
d    NaN
e    0.0
f    NaN
g    NaN
dtype: float64

In [11]:

df1=pd.DataFrame(np.arange(9.).reshape(3,3),columns=list('bcd'),index=('olma','anor','uzum'))
df2=pd.DataFrame(np.arange(12.).reshape(4,3),columns=list('abc'),index=('olma','anor','qovun','anjir'))

In [12]:
df1

        b    c    d
olma  0.0  1.0  2.0
anor  3.0  4.0  5.0
uzum  6.0  7.0  8.0

In [13]:
df2

         a     b     c
olma   0.0   1.0   2.0
anor   3.0   4.0   5.0
qovun  6.0   7.0   8.0
anjir  9.0  10.0  11.0

In [15]:
df1.add(df2, fill_value=0)

         a     b     c    d
anjir  9.0  10.0  11.0  NaN
anor   3.0   7.0   9.0  5.0
olma   0.0   1.0   3.0  2.0
qovun  6.0   7.0   8.0  NaN
uzum   NaN   6.0   7.0  8.0

In [16]:
df2.sub(df1, fill_value=0)

         a     b     c    d
anjir  9.0  10.0  11.0  NaN
anor   3.0   1.0   1.0 -5.0
olma   0.0   1.0   1.0 -2.0
qovun  6.0   7.0   8.0  NaN
uzum   NaN  -6.0  -7.0 -8.0

In [17]:
df1.rsub(df2, fill_value=0)

         a     b     c    d
anjir  9.0  10.0  11.0  NaN
anor   3.0   1.0   1.0 -5.0
olma   0.0   1.0   1.0 -2.0
qovun  6.0   7.0   8.0  NaN
uzum   NaN  -6.0  -7.0 -8.0

In [18]:
df2.div(df1)

        a         b     c   d
anjir NaN       NaN   NaN NaN
anor  NaN  1.333333  1.25 NaN
olma  NaN       inf  2.00 NaN
qovun NaN       NaN   NaN NaN
uzum  NaN       NaN   NaN NaN

In [19]:
df2.rdiv(df1)

        a     b    c   d
anjir NaN   NaN  NaN NaN
anor  NaN  0.75  0.8 NaN
olma  NaN  0.00  0.5 NaN
qovun NaN   NaN  NaN NaN
uzum  NaN   NaN  NaN NaN

In [27]:
df = pd.DataFrame(np.arange(1,13.).reshape(3,4), index=list('abc'), columns=['Olma','Anor','Qovun','Anjir'])
df

   Olma  Anor  Qovun  Anjir
a   1.0   2.0    3.0    4.0
b   5.0   6.0    7.0    8.0
c   9.0  10.0   11.0   12.0

In [32]:
obj=pd.Series([1,1,2,2],index=df.columns)
obj

olma     1
anor     1
anjir    2
uzum     2
dtype: int64

In [33]:
df+obj

   olma  anor  anjir  uzum
a   2.0   3.0    5.0   6.0
b   6.0   7.0    9.0  10.0
c  10.0  11.0   13.0  14.0

In [34]:
obj0=pd.Series([1,2,3],index=['olma','uzum','qovun'])

In [35]:
obj0

olma     1
uzum     2
qovun    3
dtype: int64

In [36]:
df.sub(obj0)

   anjir  anor  olma  qovun  uzum
a    NaN   NaN   0.0    NaN   2.0
b    NaN   NaN   4.0    NaN   6.0
c    NaN   NaN   8.0    NaN  10.0

In [37]:
obj0['olma']

1

In [38]:
df+obj0['olma']

   olma  anor  anjir  uzum
a   2.0   3.0    4.0   5.0
b   6.0   7.0    8.0   9.0
c  10.0  11.0   12.0  13.0